<ul class='section'>
  <li class='root'>
    <%= link_to t('sitemap.doctor_finder'), "/physicians/find" %>
    <span class='nav-dropdown'></span>
  </li>
  <li class='branches'>
    <ul>
      <li><%= link_to t('sitemap.are_you_considering_scripps'), "/physicians__are-you-considering-scripps" %></li>
      <li><%= link_to t('sitemap.health_insurance_options'), "/physicians__health-insurance-options" %></li>
      <li><%= link_to t('sitemap.how_to_select_a_doctor'), "/physicians__how-to-select-a-doctor" %></li>
    </ul>
  </li>
</ul>

<ul class='section'>
  <li class='root'>
    <%= link_to t('sitemap.medical_services'), "/services" %>
    <span class='nav-dropdown'></span>
  </li>
  <li class='branches'>
    <ul>
      <li><%= link_to t('sitemap.featured_services'), "/services/featured" %></li>
      <li><%= link_to t('sitemap.services_a_to_z'), "/services" %></li>
      <li><%= link_to t('sitemap.urgent_care'), "/services/urgent-care" %></li>
      <li><%= link_to t('sitemap.emergency_and_trauma'), "/services/emergency-and-trauma" %></li>
      <li><%= link_to t('sitemap.laboratories'), "/services/laboratory-services" %></li>
    </ul>
  </li>
</ul>

<ul class='section'>
  <li class='root'>
    <%= link_to t('sitemap.health_and_wellness'), "/health-and-wellness" %>
    <span class='nav-dropdown'></span>
  </li>
  <li class='branches'>
    <ul>
      <li><%= link_to t('sitemap.events_and_classes'), "/health-and-wellness__events-and-classes" %></li>
      <li><%= link_to t('sitemap.email_newsletter'), "/health-and-wellness__email-sign-up" %></li>
      <li><%= link_to t('sitemap.health_library'), "/health-and-wellness__health-library" %></li>
      <li><%= link_to t('sitemap.recipes'), "/health-and-wellness__recipes" %></li>
    </ul>
  </li>
</ul>

<ul class='section research'>
  <li class='root'>
    <%= link_to t('sitemap.research'), "/research" %>
    <span class='nav-dropdown'></span>
  </li>
  <li class='branches'>
    <ul>
      <li><%= link_to t('sitemap.areas_of_research'), "/research__areas-of-research" %> </li>
      <li><%= link_to t('sitemap.active_studies'), "/research__active-studies" %></li>
      <li><%= link_to t('sitemap.join_a_study'), "/research__join-a-study" %> </li>
    </ul>
  </li>
</ul>

<ul class='section'>
  <li class='root'>
    <%= link_to t('sitemap.patient_guide'), "/patient-guide" %>
    <span class='nav-dropdown'></span>
  </li>
  <li class='branches'>
    <ul>
      <li><%= link_to t('sitemap.billing'), "/patient-guide__billing" %> </li>
      <li><%= link_to t('sitemap.financial_assistance'), "/patient-guide__financial-assistance" %> </li>
      <li><%= link_to t('sitemap.medical_records'), "/patient-guide__medical-records" %></li>
      <li><%= link_to t('sitemap.patient_rights_and_privacy'), "/patient-guide__patient-rights-privacy" %></li>
      <li><%= link_to t('sitemap.quality'), "/patient-guide__quality" %></li>
    </ul>
  </li>
</ul>

<ul class='section'>
  <li class='root'>
    <%= link_to t('sitemap.locations'), "/locations" %>
    <span class='nav-dropdown'></span>
  </li>
  <li class='branches'>
    <ul>
      <li><%= link_to t('sitemap.hospitals'), "/locations/hospitals" %></li>
      <li><%= link_to t('sitemap.scripps_clinic'), "/locations/scripps-clinic" %></li>
      <li><%= link_to t('sitemap.scripps_coastal_medical_centers'), "/locations/scripps-coastal-medical-center" %></li>
      <li><%= link_to t('sitemap.well_being_centers'), "/locations/well-being-centers" %></li>
      <li><%= link_to t('sitemap.specialty_centers'), "/locations/specialty-centers" %></li>
      <li><%= link_to t('sitemap.labs'), "/services/laboratory-services" %></li>
    </ul>
  </li>
</ul>
